extends layoutenter

block content
    h1=title
    hr
    form(method='POST' action='')
        .form-group
            label(for='password_1') Type new password: 
            input#password_1.form-control(type='password' required='true' placeholder='******' name='password_1' value=(undefined===user? '' : user.password_1))
        .form-group
            label(for='password_2') Retype new password:
            input#password_2.form-control(type='password' required='true' placeholder='******' name='password_2' value=(undefined===user? '' : user.password_2))
        .form-group
            button.btn.btn-primary(type='submit') Save Password

    if errors
        ul
            for error in errors
                li!=error.msg