extends layoutenter

block content
    h1=title
    hr
    form(method='POST' action='')
        div.form-group
            label(for='email') Email Address:
            input#email.form-control(type='email' placeholder='xyz@abc.com' name='email' required='true' value=(undefined===user ? '' : user.email) )
        div.form-group
            button.btn.btn-primary(type='submit') Check Email
    hr
    if errors
        ul
            for error in errors
                li!= error.msg